zend_extension=xdebug
extension=xdebug.so
xdebug.log=/var/log/nginx/error.log
xdebug.start_with_request=yes
xdebug.mode=debug
xdebug.discover_client_host=0
xdebug.client_port=9003
xdebug.log_level=5
xdebug.client_host=172.17.0.1
